* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;
}

header.sticky {
    background-color: #f0ece8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0ece8;
}

.logo{
    margin-left: 5%;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.search-container input {
    border-radius: 20%;
}

.search-container input[type="text"] {
    padding: 8px 40px 8px 10px;
    border: none;
    border-radius: 15px;
    background-color: #f2f2f2;
    font-size: 16px;
    width: 200px;
}

.search-container .fa-magnifying-glass {
    position: absolute;
    right: 10px;
    color: #888;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

/* ========= User Icon  ========= */

.user-icon {
    position: relative;
    margin-right: 20px;
}

.user-icon .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 4px;
}

.user-icon .sub-menu.show {
    display: block;
    min-width: 120px;
    margin-top: 2.5px;
}

.sub-menu li {
    list-style: none;
    margin-bottom: 5px;
}

.sub-menu li a {
    text-decoration: none;
    padding: 5px;
    display: block;
    border-radius: 2px;
}

.sub-menu li a:hover {
    background-color: #f2f2f2;
}


/* ========= Category Menu  ========= */

.category-menu {
    background-color: #f2f2f2;
    padding: 10px;
}

#main-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#main-menu > li {
    position: relative;
    margin-right: 20px;
}

#main-menu > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#main-menu > li:hover > a {
    background-color: #ddd;
}

#main-menu .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 4px;
}

#main-menu > li:hover .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

#main-menu .sub-menu li {
    margin-bottom: 8px;
}

#main-menu .sub-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
}

#main-menu .sub-menu li a:hover {
    background-color: #f2f2f2;
}

#main-menu > li > a span {
    margin-left: 5px;
}

