.productcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-bottom: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.image-container {
  flex: 1;
  padding: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px; /* Tăng chiều rộng tối đa để chứa ảnh lớn hơn */
  /* Bạn có thể thêm height nếu cần thiết */
}

.image-container img {
  max-width: 100%; /* Điều chỉnh để giữ tỷ lệ khung hình */
  height: auto;
  /* Bạn có thể thêm width và height cố định để kiểm soát kích thước chính xác */
  /* Ví dụ: */
  width: 90%; /* Tăng kích thước của ảnh */
  height: auto; /* Đảm bảo ảnh giữ tỷ lệ khung hình */
}

.description-container {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  position: sticky;
  top: 100px; /* Đặt khoảng cách từ trên xuống để không bị chèn vào header */
}

.title {
  margin-bottom: 10px;
}

.additional-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quantity-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.minus-btn,
.plus-btn {
  background-color: transparent;
  border: none;
  padding: 3px 12px;
  font-size: 18px;
  cursor: pointer;
}

.quantity {
  margin: 0 15px;
  font-size: 18px;
}

.add-to-cart-btn {
  background-color: #f0ece8;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.description-text {
  text-align: center;
  max-width: 600px;
}

.description-text p {
  margin-bottom: 10px;
}
.additional-product-image {
  max-width: 100%; 
  height: auto;
  margin-top: 20px;
  width: 90%; 
  height: auto; 
}
.related-products {
  margin-top: 50px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product-item {
  width: 330px; 
  height: 330px; 
  margin: 20px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-item h3 {
  margin: 10px 0; 
  font-size: 16px; 
}

.price {
  font-weight: bold;
  margin-bottom: 8px; 
  font-size: 18px; 
}

.view-product {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Giảm kích thước "VIEW PRODUCT" */
  font-size: 14px;
  cursor: pointer;
  align-self: stretch;
}
.related-products {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 200px;
}